<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/materialize.min.css">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/appController.js"></script>
    <link href="static/css/icon.css" rel="stylesheet">
    <script src="static/export.js"></script>
</head>

<body ng-app="myModule">
    <div class="container" ng-controller="MainCtrl">
        <div class="row">
            <!-- <div class="col s2"></div> -->
            <div class="col s12 md6 ">
                <div class="col s12 z-depth-4 card-panel">
                    <form class="col s12" name="practichemForm" ng-submit="submitForm(practichemForm.$valid)" novalidate="">
                        <div class="col s12 m6">
                            <h5 class="header center">User Registration Details</h5>
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">perm_identity</i>
                                                <input id="icon_prefix" type="text" class="validate" ng-model="formData.username" ng-minlength="3" ng-maxlength="20" required="">
                                                <label for="icon_prefix">Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">add_location</i>
                                                <textarea id="icon_prefix" class="materialize-textarea" ng-model="formData.address"></textarea>
                                                <label for="icon_prefix2">Add Location</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="practichemForm.$invalid">Submit
                                        <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="row">
                                <div class="col s12 m12">
                                    <h5 class="header center">User Added Details</h5>
                                    <div class="card-panel teal" ng-show="IsHidden" style="height:360px;overflow:auto;">
                                        <textarea id="inputTextToSave" cols="80" rows="25" style="display:none">
                                                {{formattedString}}
                                            </textarea>
                                        <ul class="collection" ng-repeat="user in userArray track by $index">
                                            <li class="collection-item">{{ user | uppercase}}</li>
                                        </ul>
                                    </div>
                                    <div class="card-action" ng-show="IsHidden">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">file_download</i>
                                            <input type="text" class="validate" id="inputFileNameToSaveAs" placeholder="Enter preferred name with type of file eg- .doc .txt">
                                            <label for="icon_prefix">Type ur preferred name with format</label>
                                        </div>
                                        <!-- <input id="inputFileNameToSaveAs" placeholder="Enter preferred name with type of file eg- .doc .txt"></input> -->
                                        <button class="btn waves-effect waves-light" type="download" onclick="saveTextAsFile()">Download
                                        <i class=" material-icons right ">cloud_download</i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="card-action right">
                        <a class="waves-effect waves-light btn" href="/logout"><i class="material-icons right">assignment_return</i>Logout</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="static/js/materialize.min.js"></script>
</body>

</html>